* {
    box-sizing: border-box;
}
.container {
    background-color: white;
    width: 50%;
    padding: 15px 25px;
}

li {
    list-style-type: none;
}

.list-container {
    display: flex;
    gap: 5px;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid black;
}

.whatToDo {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px
}

.plus-btn {
    border: 0;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.plus-btn:hover {
    background-color:lightblue;
   
}